table {
  width: 100%;
}

.mat-column-id {
  width: 10%;
}

.mat-column-name {
  width: 17.5%;
}

.mat-column-surname {
  width: 17.5%;
}

.mat-column-email {
  width: 15%;
}

.mat-column-workType {
  width: 15%;
}

.mat-column-edit {
  width: 12.5%;
}

.mat-column-delete {
  width: 12.5%;
}

.btn-add-row {
  margin-left: 0px;
  margin-top: 25%;
}

.btn-add-label {
  text-align: center;
}
