@import '../../../styles/data-table.scss';

.mat-column-position {
  min-width: 10%;
}

.mat-column-name {
  min-width: 17.5%;
}

.mat-column-surname {
  min-width: 17.5%;
}

.mat-column-email {
  min-width: 15%;
}

.mat-column-workType {
  min-width: 15%;
}

.mat-column-edit {
  min-width: 12.5%;
}

.mat-column-delete {
  min-width: 12.5%;
}
