@import '../../../styles/data-table.scss';

.mat-column-position {
  width: 10%;
}

.mat-column-name {
  width: 17.5%;
}

.mat-column-surname {
  width: 17.5%;
}

.mat-column-email {
  width: 15%;
}

.mat-column-workType {
  width: 15%;
}

.mat-column-edit {
  width: 12.5%;
}

.mat-column-delete {
  width: 12.5%;
}
