@import '../../../styles/header-card.scss';

.login-form {
  width: 100%;
}

.login-btn {
  float: right;
  margin-top: 12px;
}

.error-label {
  width: 100%;
  padding: 0px 16px 0px 16px;
  color: red;
}

.back-btn {
  padding-left: 5px;
}
