<div class="background-page">
  <mat-card class="card-panel">
    <app-navigation-bar
      [isBackBtnAvailable]="true"
      (emitNotifications)="getNotifications($event)">
    </app-navigation-bar>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <mat-form-field class="login-form">
          <input matInput type="text" formControlName="userEmail" placeholder="E-mail" [maxLength]="emailMaxLength">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field class="login-form">
          <input matInput type="password" formControlName="userPassword" placeholder="{{ notifications.loginComponent.passwordLabel }}" [maxLength]="passwordMaxLength">
          <mat-icon matSuffix>https</mat-icon>
        </mat-form-field>
        <div class="row" *ngIf="loginErrors.length > 0">
          <span class="error-label" *ngFor="let err of loginErrors">{{ err }}</span>
        </div>
        <mat-checkbox color="primary" [checked]="isRememberSelected" (change)="changeRememberState($event)">{{ notifications.loginComponent.rememberMe }}</mat-checkbox>
        <button class="login-btn" mat-raised-button color="primary" (click)="login()">{{ notifications.loginComponent.loginBtn }}</button>
        <br><span><a href="/remind-password">{{ notifications.loginComponent.forgotPassword }}</a></span>
      </form>
    </mat-card-content>
  </mat-card>
</div>
