<div class="background-page">
  <mat-card class="card-panel">

    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <mat-card-header class="logo">
          <mat-card-title>
            <a routerLink="/"><img src="../../../assets/imgs/logo-ws.png" width="50px" height="50px"></a>
          </mat-card-title>
          <mat-card-subtitle>Zaloguj się</mat-card-subtitle>
        </mat-card-header>
      </div>
      <div class="col-2 language-panel-label">
        <select class="language-panel">
          <option value="PL">PL</option>
          <option value="ENG">ENG</option>
        </select>
      </div>
    </div>

    <mat-card-content>
      <form [formGroup]="loginForm">
        <mat-form-field class="login-form">
          <input matInput type="text" formControlName="username" placeholder="Nazwa użytkownika" maxlength="30">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field class="login-form">
          <input matInput type="password" formControlName="password" placeholder="Hasło" maxlength="30">
          <mat-icon matSuffix>https</mat-icon>
        </mat-form-field>
        <!-- TODO WRONG-CREDENTIALS -->
        <div *ngIf="wrongCredentials" class="login-wrong-credentials"><span>Nieprawidłowe dane</span><br></div>
        <mat-checkbox color="primary">Zapamiętaj mnie</mat-checkbox>
        <button class="login-btn" mat-raised-button color="primary" (click)="login()">Zaloguj</button>
        <br><span><a href="/remind-password">Nie pamiętasz hasła?</a></span>
      </form>
    </mat-card-content>

  </mat-card>
</div>
