<div class="dialog">

  <div class="dialog-header">
    <h4 class="dialog-title">{{ title }}</h4>
    <button type="button" class="close" mat-dialog-close>
      <span>&times;</span>
    </button>
  </div>

  <div class="dialog-content">
    <form [formGroup]="addProductForm">
      <div class="row">
        <div class="col-12">
          <mat-form-field class="data-label">
            <input matInput #productName type="text" placeholder="Nazwa" [maxLength]="productNameMaxLength" formControlName="name" appSentenceCaseType required>
          </mat-form-field>
          <span *ngIf="productName.value.length > 0" class="float-right character-counter">Limit znaków: {{ productName.value.length }}/{{ productNameMaxLength }}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <mat-form-field class="data-label">
            <input matInput #producerName type="text" placeholder="Producent" [maxLength]="producerNameMaxLength" formControlName="producer" appSentenceCaseType required>
          </mat-form-field>
          <span *ngIf="producerName.value.length > 0" class="float-right character-counter">Limit znaków: {{ producerName.value.length }}/{{ producerNameMaxLength }}</span>
        </div>
        <div class="col-6">
          <mat-form-field class="data-label">
            <!-- todo directive price only z 2 miejscami decimals -->
            <input matInput #price type="text" placeholder="Cena" [maxLength]="priceMaxLength" formControlName="price" appNumbersOnly required>
          </mat-form-field>
          <span *ngIf="price.value.length > 0" class="float-right character-counter">Limit znaków: {{ price.value.length }}/{{ priceMaxLength }}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <mat-form-field class="data-label">
            <textarea matInput #description cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" placeholder="Opis" [maxLength]="descriptionMaxLength" formControlName="description" appSentenceCaseType required></textarea>
          </mat-form-field>
          <span *ngIf="description.value.length > 0" class="float-right character-counter">Limit znaków: {{ description.value.length }}/{{ descriptionMaxLength }}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="custom-file">
            <input type="file" class="custom-file-input" accept="image/*" (change)="onFileSelected($event)" required>
            <label class="custom-file-label">Wybierz plik</label>
          </div>
        </div>
      </div>

      <div class="row error-label-row" *ngIf="addProductErrors.length > 0">
        <span class="error-label" *ngFor="let err of addProductErrors">{{ err }}</span>
      </div>

    </form>
  </div>

  <div class="dialog-actions">
    <button type="button" class="btn-cancel" mat-raised-button mat-dialog-close>Anuluj</button>
    <button type="button" class="btn-accept" mat-raised-button color="primary" (click)="addProduct()">{{ isEdit ? 'Zatwierdź zmiany' : 'Dodaj produkt' }}</button>
  </div>

</div>
