@import '../../../styles//input-autofill.scss';
@import '../../../styles//dialog.scss';

.dialog-header {
  height: 15%;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #e9ecef;
  justify-content: space-between;
}

.dialog-content {
  height: 70%;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
}

.dialog-actions {
  height: 15%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
