<div class="background-page">
  <mat-card class="card-panel">
    <app-navigation-bar
      [isBackBtnAvailable]="true"
      [isLogoutLinkAvailable]="true"
      [isShoppingCartLinkAvailable]="true"
      (emitNotifications)="getNotifications($event)">
    </app-navigation-bar>
    <mat-tab-group>
      <mat-tab label="{{ notifications.ordersPreviewComponent.allOrders }}">
        <div *ngIf="allOrders.length === 0 && !isLoading">
          <span>{{ notifications.ordersPreviewComponent.emptyOrders }}</span>
        </div>
        <div *ngIf="allOrders.length > 0">
          <table mat-table matSort [dataSource]="dataSourceAll" multiTemplateDataRows>

            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>Index</th>
              <td mat-cell *matCellDef="let element; let i = dataIndex;" >{{ i + 1 }}</td>
            </ng-container>

            <ng-container matColumnDef="orderDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ notifications.ordersPreviewComponent.dateTableHeader }}</th>
              <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.orderDate | date: 'dd-MM-yyyy HH:mm' }}</td>
            </ng-container>

            <ng-container matColumnDef="deliveryInformation">
              <th mat-header-cell *matHeaderCellDef>{{ notifications.ordersPreviewComponent.deliveryAddress }}</th>
              <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.deliveryType === DeliveryType.PERSONAL ? notifications.ordersPreviewComponent.personalCollection : element.deliveryAddress.streetAndNumber + ' ' + element.deliveryAddress.postalCode + ' ' + element.deliveryAddress.townName }}</td>
            </ng-container>

            <ng-container matColumnDef="totalPrice">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ notifications.ordersPreviewComponent.valueTableHeader }}</th>
              <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.totalPrice }} zł</td>
            </ng-container>

            <ng-container matColumnDef="paymentType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ notifications.ordersPreviewComponent.paymentTypeTableHeader }}</th>
              <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.paymentType | transformPaymentType: notifications }}</td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ notifications.ordersPreviewComponent.statusTableHeader }}</th>
              <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.orderStatus | transformOrderStatus: notifications }}</td>
            </ng-container>

            <ng-container matColumnDef="orderDetails">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element; let i = dataIndex;" class="padding-table-data"><button mat-raised-button color="primary" (click)="expandedElement = expandedElement === element ? null : element; orderDetails(expandedElement, i + 1);">{{ notifications.ordersPreviewComponent.details }}<mat-icon matSuffix>{{ (expandedElement && i + 1 === memorizedIndex) ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon></button></td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element; let i = dataIndex;" [colSpan]="displayedColumns.length">
                <div *ngIf="isLoading && i+1 === memorizedIndex && expandedElement" class="loading-spinner">
                  <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
                </div>
                <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  <div *ngFor="let product of selectedOrderDetails" class="row">
                    <div class="col-auto">
                      <img [src]="product.image" class="product-image">
                    </div>
                    <div class="col" class="product-details">
                      <a [routerLink]="['/product-item', product._id]" class="product-router-link"><p class="product-name">{{ product.name }}</p></a>
                      <p>{{ notifications.ordersPreviewComponent.quantity }} {{ product.quantity }}</p>
                      <p>{{ notifications.ordersPreviewComponent.unitPrice }} {{ product.price }} zł</p>
                      <p>{{ notifications.ordersPreviewComponent.totalPrice }} {{ product.price * product.quantity }} zł</p>
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row" [class.expanded-row]="expandedElement === element"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="detail-row"></tr>

          </table>
        </div>
        <div *ngIf="isLoading && !memorizedIndex" class="loading-spinner">
          <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>
      </mat-tab>
      <mat-tab label="{{ notifications.ordersPreviewComponent.inProgress }}">
        <div *ngIf="inProgressOrders.length === 0">
          <span>{{ notifications.ordersPreviewComponent.emptyInProgressOrders }}</span>
        </div>
        <div *ngIf="inProgressOrders.length > 0">
          <table mat-table matSort [dataSource]="dataSourceAll" multiTemplateDataRows>

            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>Index</th>
              <td mat-cell *matCellDef="let element; let i = dataIndex;" >{{ i + 1 }}</td>
            </ng-container>

            <ng-container matColumnDef="orderDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ notifications.ordersPreviewComponent.dateTableHeader }}</th>
              <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.orderDate | date: 'dd-MM-yyyy HH:mm' }}</td>
            </ng-container>

            <ng-container matColumnDef="deliveryInformation">
              <th mat-header-cell *matHeaderCellDef>{{ notifications.ordersPreviewComponent.deliveryAddress }}</th>
              <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.deliveryType === DeliveryType.PERSONAL ? notifications.ordersPreviewComponent.personalCollection : element.deliveryAddress.streetAndNumber + ' ' + element.deliveryAddress.postalCode + ' ' + element.deliveryAddress.townName }}</td>
            </ng-container>

            <ng-container matColumnDef="totalPrice">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ notifications.ordersPreviewComponent.valueTableHeader }}</th>
              <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.totalPrice }} zł</td>
            </ng-container>

            <ng-container matColumnDef="paymentType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ notifications.ordersPreviewComponent.paymentTypeTableHeader }}</th>
              <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.paymentType | transformPaymentType: notifications }}</td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ notifications.ordersPreviewComponent.statusTableHeader }}</th>
              <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.orderStatus | transformOrderStatus: notifications }}</td>
            </ng-container>

            <ng-container matColumnDef="orderDetails">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element; let i = dataIndex;" class="padding-table-data"><button mat-raised-button color="primary" (click)="expandedElement = expandedElement === element ? null : element; orderDetails(expandedElement, i + 1);">{{ notifications.ordersPreviewComponent.details }}<mat-icon matSuffix>{{ (expandedElement && i + 1 === memorizedIndex) ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon></button></td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element; let i = dataIndex;" [colSpan]="displayedColumns.length">
                <div *ngIf="isLoading && i+1 === memorizedIndex && expandedElement" class="loading-spinner">
                  <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
                </div>
                <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  <div *ngFor="let product of selectedOrderDetails" class="row">
                    <div class="col-auto">
                      <img [src]="product.image" class="product-image">
                    </div>
                    <div class="col" class="product-details">
                      <a [routerLink]="['/product-item', product._id]" class="product-router-link"><p class="product-name">{{ product.name }}</p></a>
                      <p>{{ notifications.ordersPreviewComponent.quantity }} {{ product.quantity }}</p>
                      <p>{{ notifications.ordersPreviewComponent.unitPrice }} {{ product.price }} zł</p>
                      <p>{{ notifications.ordersPreviewComponent.totalPrice }} {{ product.price * product.quantity }} zł</p>
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row" [class.expanded-row]="expandedElement === element"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="detail-row"></tr>

          </table>
        </div>
        <div *ngIf="isLoading && !memorizedIndex" class="loading-spinner">
          <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>
      </mat-tab>
      <mat-tab label="{{ notifications.ordersPreviewComponent.completed }}">
        <div *ngIf="completedOrders.length === 0">
          <span>{{ notifications.ordersPreviewComponent.emptyCompletedOrders }}</span>
        </div>
        <div *ngIf="completedOrders.length > 0">
          <table mat-table matSort [dataSource]="dataSourceAll" multiTemplateDataRows>

            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>Index</th>
              <td mat-cell *matCellDef="let element; let i = dataIndex;" >{{ i + 1 }}</td>
            </ng-container>

            <ng-container matColumnDef="orderDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ notifications.ordersPreviewComponent.dateTableHeader }}</th>
              <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.orderDate | date: 'dd-MM-yyyy HH:mm' }}</td>
            </ng-container>

            <ng-container matColumnDef="deliveryInformation">
              <th mat-header-cell *matHeaderCellDef>{{ notifications.ordersPreviewComponent.deliveryAddress }}</th>
              <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.deliveryType === DeliveryType.PERSONAL ? notifications.ordersPreviewComponent.personalCollection : element.deliveryAddress.streetAndNumber + ' ' + element.deliveryAddress.postalCode + ' ' + element.deliveryAddress.townName }}</td>
            </ng-container>

            <ng-container matColumnDef="totalPrice">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ notifications.ordersPreviewComponent.valueTableHeader }}</th>
              <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.totalPrice }} zł</td>
            </ng-container>

            <ng-container matColumnDef="paymentType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ notifications.ordersPreviewComponent.paymentTypeTableHeader }}</th>
              <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.paymentType | transformPaymentType: notifications }}</td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ notifications.ordersPreviewComponent.statusTableHeader }}</th>
              <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.orderStatus | transformOrderStatus: notifications }}</td>
            </ng-container>

            <ng-container matColumnDef="orderDetails">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element; let i = dataIndex;" class="padding-table-data"><button mat-raised-button color="primary" (click)="expandedElement = expandedElement === element ? null : element; orderDetails(expandedElement, i + 1);">{{ notifications.ordersPreviewComponent.details }}<mat-icon matSuffix>{{ (expandedElement && i + 1 === memorizedIndex) ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon></button></td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element; let i = dataIndex;" [colSpan]="displayedColumns.length">
                <div *ngIf="isLoading && i+1 === memorizedIndex && expandedElement" class="loading-spinner">
                  <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
                </div>
                <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  <div *ngFor="let product of selectedOrderDetails" class="row">
                    <div class="col-auto">
                      <img [src]="product.image" class="product-image">
                    </div>
                    <div class="col" class="product-details">
                      <a [routerLink]="['/product-item', product._id]" class="product-router-link"><p class="product-name">{{ product.name }}</p></a>
                      <p>{{ notifications.ordersPreviewComponent.quantity }} {{ product.quantity }}</p>
                      <p>{{ notifications.ordersPreviewComponent.unitPrice }} {{ product.price }} zł</p>
                      <p>{{ notifications.ordersPreviewComponent.totalPrice }} {{ product.price * product.quantity }} zł</p>
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row" [class.expanded-row]="expandedElement === element"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="detail-row"></tr>

          </table>
        </div>
        <div *ngIf="isLoading && !memorizedIndex" class="loading-spinner">
          <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>
      </mat-tab>
      <mat-tab label="{{ notifications.ordersPreviewComponent.canceled }}">
        <div *ngIf="canceledOrders.length === 0">
          <span>{{ notifications.ordersPreviewComponent.emptyCanceledOrders }}</span>
        </div>
        <div *ngIf="canceledOrders.length > 0">
          <table mat-table matSort [dataSource]="dataSourceAll" multiTemplateDataRows>
            
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>Index</th>
              <td mat-cell *matCellDef="let element; let i = dataIndex;" >{{ i + 1 }}</td>
            </ng-container>

            <ng-container matColumnDef="orderDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ notifications.ordersPreviewComponent.dateTableHeader }}</th>
              <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.orderDate | date: 'dd-MM-yyyy HH:mm' }}</td>
            </ng-container>

            <ng-container matColumnDef="deliveryInformation">
              <th mat-header-cell *matHeaderCellDef>{{ notifications.ordersPreviewComponent.deliveryAddress }}</th>
              <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.deliveryType === DeliveryType.PERSONAL ? notifications.ordersPreviewComponent.personalCollection : element.deliveryAddress.streetAndNumber + ' ' + element.deliveryAddress.postalCode + ' ' + element.deliveryAddress.townName }}</td>
            </ng-container>

            <ng-container matColumnDef="totalPrice">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ notifications.ordersPreviewComponent.valueTableHeader }}</th>
              <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.totalPrice }} zł</td>
            </ng-container>

            <ng-container matColumnDef="paymentType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ notifications.ordersPreviewComponent.paymentTypeTableHeader }}</th>
              <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.paymentType | transformPaymentType: notifications }}</td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ notifications.ordersPreviewComponent.statusTableHeader }}</th>
              <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.orderStatus | transformOrderStatus: notifications }}</td>
            </ng-container>

            <ng-container matColumnDef="orderDetails">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element; let i = dataIndex;" class="padding-table-data"><button mat-raised-button color="primary" (click)="expandedElement = expandedElement === element ? null : element; orderDetails(expandedElement, i + 1);">{{ notifications.ordersPreviewComponent.details }}<mat-icon matSuffix>{{ (expandedElement && i + 1 === memorizedIndex) ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon></button></td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element; let i = dataIndex;" [colSpan]="displayedColumns.length">
                <div *ngIf="isLoading && i+1 === memorizedIndex && expandedElement" class="loading-spinner">
                  <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
                </div>
                <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  <div *ngFor="let product of selectedOrderDetails" class="row">
                    <div class="col-auto">
                      <img [src]="product.image" class="product-image">
                    </div>
                    <div class="col" class="product-details">
                      <a [routerLink]="['/product-item', product._id]" class="product-router-link"><p class="product-name">{{ product.name }}</p></a>
                      <p>{{ notifications.ordersPreviewComponent.quantity }} {{ product.quantity }}</p>
                      <p>{{ notifications.ordersPreviewComponent.unitPrice }} {{ product.price }} zł</p>
                      <p>{{ notifications.ordersPreviewComponent.totalPrice }} {{ product.price * product.quantity }} zł</p>
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row" [class.expanded-row]="expandedElement === element"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="detail-row"></tr>

          </table>
        </div>
        <div *ngIf="isLoading && !memorizedIndex" class="loading-spinner">
          <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
