@import '../../../styles/background-page.scss';

.card-panel {
  width: 80%;
  left: 10%;
  top: 10%;
  margin-bottom: 10%;
}

table {
  width: 100%;
  table-layout: fixed;
}

.padding-table-data {
  padding-right: 5px;
}
