<div class="background-page">
  <mat-card class="card-panel">
    <app-navigation-bar #navBar
      [isBackBtnAvailable]="true"
      [isLoginLinkAvailable]="true"
      [isLogoutLinkAvailable]="true"
      [isRegisterLinkAvailable]="true"
      [isShoppingCartPriceLinkAvailable]="true"
      (emitNotifications)="getNotifications($event)">
    </app-navigation-bar>
    <div *ngIf="shoppingCart.length === 0">
      <div class="row cart-icon-row">
        <div class="col-12 center">
          <mat-icon class="empty-cart-icon">add_shopping_cart</mat-icon>
        </div>
      </div>
      <div class="row">
        <div class="col-12 center">
          <p class="main-cart-text">{{ notifications.shoppingCartComponent.emptyCart }}</p>
          <p>{{ notifications.shoppingCartComponent.emptyCartDescription }}</p>
        </div>
      </div>
      <div class="row center-row-elements">
        <button routerLink="/" routerLinkActive="active" mat-raised-button color="primary">{{ notifications.shoppingCartComponent.startShoppingBtn }}</button>
      </div>
    </div>
    <div *ngIf="shoppingCart.length > 0">
      <mat-card-content>

        <table *ngIf="this.dataSource.data.length === this.shoppingCart.length && this.isLoading !== true" mat-table matSort [dataSource]="dataSource">
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Index</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>{{ notifications.shoppingCartComponent.imageTableHeader }}</th>
            <td mat-cell *matCellDef="let element"><img [src]="element.image" class="image-data" (click)="imagePreview(element.image)"></td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ notifications.shoppingCartComponent.nameTableHeader }}</th>
            <td mat-cell *matCellDef="let element" class="padding-table-data">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="unitPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ notifications.shoppingCartComponent.unitPriceTableHeader }}</th>
            <td mat-cell *matCellDef="let element">{{ element.price }} zł</td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ notifications.shoppingCartComponent.quantityTableHeader }}</th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field class="quantity-label">
                <mat-select [(ngModel)]="element.quantity" (selectionChange)="quantityChange(element)" matNativeControl>
                  <mat-option *ngFor="let number of quantity" [value]="number" selected>{{ number }}</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ notifications.shoppingCartComponent.totalPriceTableHeader }}</th>
            <td mat-cell *matCellDef="let element">{{ element.totalPrice }} zł</td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>{{ notifications.shoppingCartComponent.deleteTableHeader }}</th>
            <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" (click)="removeProductFromCart(element)">{{ notifications.shoppingCartComponent.deleteProductBtn }}</button></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div *ngIf="isLoading" class="loading-spinner">
          <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>
        <div class="row order-value">
          <span>{{ notifications.shoppingCartComponent.orderValue }}: {{ this.shoppingCartPrice }} zł</span>
        </div>
        <div class="row center">
          <button mat-raised-button color="primary" type="button" (click)="completeTheOrder()">{{ notifications.shoppingCartComponent.completeTheOrderBtn }}</button>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
