<div class="background-page">
  <mat-card class="card-panel">
    <div class="row">
      <div class="col-5">
        <button mat-raised-button color="primary" type="button" class="back-btn" (click)="goBack()"><mat-icon mat Suffix>keyboard_arrow_left</mat-icon>Wstecz</button>
      </div>
      <div class="col-2">
        <mat-card-header class="logo">
          <mat-card-title>
            <a routerLink="/"><img src="../../../assets/imgs/logo-ws.png" width="50px" height="50px"></a>
          </mat-card-title>
          <mat-card-subtitle>Koszyk</mat-card-subtitle>
        </mat-card-header>
      </div>
      <div class="col-5">
        <a routerLink="/login" routerLinkActive="active" class="router-link"><mat-icon class="main-menu-icon">account_box</mat-icon><span>Zaloguj się</span></a>
        <a routerLink="/register" routerLinkActive="active" class="router-link"><mat-icon class="main-menu-icon">assignment</mat-icon><span>Rejestracja</span></a>
        <a routerLink="/shopping-cart" routerLinkActive="active" class="router-link"><mat-icon class="main-menu-icon">shopping_cart</mat-icon><span>({{ shoppingCartQuantity }}) {{ shoppingCartPrice | number: '3.0-0' }} zł</span></a>
        <select class="language-panel">
          <option value="PL">PL</option>
          <option value="ENG">ENG</option>
        </select>
      </div>
    </div>

    <div *ngIf="shoppingCart.length === 0">
      <div class="row cart-icon-row">
        <div class="col-12 center">
          <mat-icon class="empty-cart-icon">add_shopping_cart</mat-icon>
        </div>
      </div>
      <div class="row">
        <div class="col-12 center">
          <p class="main-cart-text">Twój koszyk jest pusty.</p>
          <p>Dodaj do niego produkty, aby móc rozpocząć składanie zamówienia.</p>
        </div>
      </div>
      <div class="row center-row-elements">
        <button routerLink="/" routerLinkActive="active" mat-raised-button color="primary">Rozpocznij zakupy</button>
      </div>
    </div>

    <div *ngIf="shoppingCart.length > 0">
      <mat-card-content>
        <table *ngIf="this.dataSource.data.length === this.shoppingCart.length && this.isLoading !== true" mat-table matSort [dataSource]="dataSource">

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Index</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>Zdjęcie</th>
            <td mat-cell *matCellDef="let element"><img [src]="element.image" class="image-data"></td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="unitPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cena jednostkowa</th>
            <td mat-cell *matCellDef="let element">{{ element.price | number: '3.0-0' }} zł</td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ilość</th>
            <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
          </ng-container>

          <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cena ogólna</th>
            <td mat-cell *matCellDef="let element">{{ element.totalPrice | number: '3.0-0' }} zł</td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Usuń</th>
            <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" (click)="removeProductFromCart(element)">Usuń produkt</button></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <div *ngIf="isLoading" class="loading-spinner">
          <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>

        <div class="row order-value">
          <span>Wartość zamówienia: {{ this.shoppingCartPrice | number: '3.0-0' }} zł</span>
        </div>

        <div class="row center">
          <button mat-raised-button color="primary" type="button" class="make-order-btn" (click)="completeTheOrder()">Przejdź do finalizacji zamówienia</button>
        </div>

      </mat-card-content>
    </div>

  </mat-card>
</div>
