<app-navigation-bar (isMenuOpened)="openMenuSideBar($event)"></app-navigation-bar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="isOpened" class="sidebar">
   <mat-nav-list>
    <a mat-list-item (click)="changeTab($event, 'manage-employees')" [ngClass]="{'tab-selected': activeTab === 'manage-employees'}">Zarządzaj produktami</a>
    <a mat-list-item (click)="changeTab($event, 'tab2')" [ngClass]="{'tab-selected': activeTab === 'tab2'}">Zarządzaj pracownikami</a>
    <a mat-list-item (click)="changeTab($event, 'tab3')" [ngClass]="{'tab-selected': activeTab === 'tab3'}">Zarządzaj zamówieniami</a>
   </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <app-manage-employees *ngIf="activeTab === 'manage-employees'"></app-manage-employees>
  </mat-sidenav-content>
</mat-sidenav-container>


