.main-content {
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tab-selected, .tab-selected:hover {
  color: black;
  background-color: #6b6463;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

// TODO Zahardcodować kolory, ustalić kolorystyke
.sidebar {
  max-width: 25vw;
  background-color: #474241;
}

