@import '../../../styles/input-autofill.scss';
@import '../../../styles/background-page.scss';
@import '../../../styles//character-counter.scss';

.card-panel {
  width: 80%;
  left: 10%;
  top: 10%;
  margin-bottom: 10%;
}

.order-notes {
  width: 100%;
  margin-bottom: 25px;
}

.center-content {
  text-align: center;
  justify-content: center;
}

.shipping-icon {
  padding-left: 5px;
}

.headline {
  font-size: 24px;
  display: block;
}

.delivery-type {
  display: block;
}

.checkbox-type-label {
  margin-left: 10px;
}

.next-stepper-btn {
  margin-top: 10px;
}

.error {
  color: red;
}

.address-data {
  width: 100%;
}

#mat-radio-3 {
  margin-left: 10px;
}

.data-label {
  width: 100%;
}

.user-data-label-space {
  margin-right: 20px;
}

.user-data-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.align-right {
  text-align: right;
  padding-right: 0px;
}

.align-left {
  text-align: left;
  padding-left: 5px;
}

.defer-payment-warning {
  color: gray;
  font-size: 12px;
  text-align: left;
}

.border {
  margin-bottom: 1%;
  border: 1px solid #ebedee;
}

.product-image {
  width: 100%;
  height: 150px;
}

.remove-padding {
  padding: 0;
}

.col-padding-top {
  padding-top: 3%;
}

.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.final-price {
  font-weight: bold;
}
