<div class="background-page">
  <mat-card class="card-panel">
    <app-navigation-bar
      [isBackBtnAvailable]="true"
      [isLogoutLinkAvailable]="true"
      [isOrdersPreviewAvailable]="true"
      (emitNotifications)="getNotifications($event)">
    </app-navigation-bar>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="clientDataFormGroup" label="{{ notifications.completeTheOrderComponent.clientDataStep }}">
        <div [formGroup]="clientDataFormGroup">
          <span class="headline center-content">{{ notifications.completeTheOrderComponent.verifyDataCorrectness }}</span>
          <div class="row user-data-form">
            <div class="col-6 mx-auto center-content">
              <div class="row">
                <div class="col-6">
                  <mat-form-field class="data-label user-data-label-space">
                    <input matInput #clientName type="text" placeholder="{{ notifications.completeTheOrderComponent.nameLabel }}" [maxLength]="clientNameMaxLength" formControlName="name" required>
                  </mat-form-field>
                  <span *ngIf="clientName.value.length > 0" class="float-right character-counter">{{ notifications.characterCounter.characterLimit }} {{ clientName.value.length }}/{{ clientNameMaxLength }}</span>
                </div>
                <div class="col-6">
                  <mat-form-field class="data-label">
                    <input matInput #clientSurname type="text" placeholder="{{ notifications.completeTheOrderComponent.surnameLabel }}" [maxLength]="clientSurnameMaxLength" formControlName="surname" required>
                  </mat-form-field>
                  <span *ngIf="clientSurname.value.length > 0" class="float-right character-counter">{{ notifications.characterCounter.characterLimit }} {{ clientSurname.value.length }}/{{ clientSurnameMaxLength }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <mat-form-field class="data-label user-data-label-space">
                    <input matInput #clientEmail type="text" placeholder="{{ notifications.completeTheOrderComponent.emailLabel }}" [maxLength]="clientEmailMaxLength" formControlName="email" required>
                  </mat-form-field>
                  <span *ngIf="clientEmail.value.length > 0" class="float-right character-counter">{{ notifications.characterCounter.characterLimit }} {{ clientEmail.value.length }}/{{ clientEmailMaxLength }}</span>
                </div>
                <div class="col-6">
                  <mat-form-field class="data-label">
                    <input matInput #companyName type="text" placeholder="{{ notifications.completeTheOrderComponent.companyLabel }}" [maxLength]="companyNameMaxLength" formControlName="companyName" required>
                  </mat-form-field>
                  <span *ngIf="companyName.value.length > 0" class="float-right character-counter">{{ notifications.characterCounter.characterLimit }} {{ companyName.value.length }}/{{ companyNameMaxLength }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <mat-form-field class="data-label user-data-label-space">
                    <input matInput #regon type="text" placeholder="{{ notifications.completeTheOrderComponent.regonLabel }}" [maxLength]="regonMaxLength" formControlName="regon" appNumbersOnly>
                  </mat-form-field>
                  <span *ngIf="regon.value.length > 0" class="float-right character-counter">{{ notifications.characterCounter.characterLimit }} {{ regon.value.length }}/{{ regonMaxLength }}</span>
                </div>
                <div class="col-6">
                  <mat-form-field class="data-label">
                    <input matInput #krs type="text" placeholder="{{ notifications.completeTheOrderComponent.krsLabel }}" [maxLength]="krsMaxLength" formControlName="krs" appNumbersOnly>
                  </mat-form-field>
                  <span *ngIf="krs.value.length > 0" class="float-right character-counter">{{ notifications.characterCounter.characterLimit }} {{ krs.value.length }}/{{ krsMaxLength }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row center-content">
            <div *ngIf="clientDataErrors.length > 0">
              <span *ngFor="let error of clientDataErrors" class="error">{{ error }}</span>
            </div>
            <div class="col-12">
              <button mat-raised-button color="primary" type="button" class="next-stepper-btn" (click)="validateUserData()" matStepperNext>{{ notifications.completeTheOrderComponent.goFurther }}</button>
            </div>
          </div>
        </div>
      </mat-step>

      <mat-step [stepControl]="deliveryFormGroup.value.deliveryType === DeliveryType.SUPPLY ? deliveryFormGroup && supplyAddressFormGroup : deliveryFormGroup" label="{{ notifications.completeTheOrderComponent.deliveryStep}}" (click)="validateDeliveryAddress()">
        <div [formGroup]="deliveryFormGroup" class="center-content">
          <span class="headline">{{ notifications.completeTheOrderComponent.chooseDeliveryMethod }}</span>
          <mat-radio-group color="primary" class="delivery-type" formControlName="deliveryType" (change)="validateDeliveryType()" required>
            <mat-radio-button [value]="DeliveryType.PERSONAL">{{ notifications.completeTheOrderComponent.personalCollection }}</mat-radio-button>
            <mat-radio-button [value]="DeliveryType.SUPPLY" class="checkbox-type-label">{{ notifications.completeTheOrderComponent.supplyDelivery }}</mat-radio-button>
          </mat-radio-group>
          <div *ngIf="deliveryTypeError.length > 0"><span class="error">{{ deliveryTypeError }}</span></div>
        </div>
        <div *ngIf="deliveryFormGroup.value.deliveryType === DeliveryType.PERSONAL" class="center-content">
          <span>{{ notifications.completeTheOrderComponent.personaCollectionDescription }}</span>
        </div>
        <div [formGroup]="supplyAddressFormGroup" class="center-content">
          <div *ngIf="deliveryFormGroup.value.deliveryType === DeliveryType.SUPPLY">
            <div class="row">
              <div class="col-4 mx-auto">
                <mat-form-field class="address-data">
                  <input matInput #streetAndNumber type="text" placeholder="{{ notifications.completeTheOrderComponent.streetAndNumber }}" formControlName="streetAndNumber" [maxLength]="streetAndNumberMaxLength" required>
                </mat-form-field>
                <span *ngIf="streetAndNumber.value.length > 0" class="float-right character-counter">{{ notifications.characterCounter.characterLimit }} {{ streetAndNumber.value.length }}/{{ streetAndNumberMaxLength }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-4"></div>
              <div class="col-2 mx-auto">
                <mat-form-field class="address-data">
                  <input matInput #postalCode type="text" placeholder="{{ notifications.completeTheOrderComponent.postalCode }}" formControlName="postalCode" [maxLength]="postalCodeMaxLength" required>
                </mat-form-field>
                <span *ngIf="postalCode.value.length > 0" class="float-right character-counter">{{ notifications.characterCounter.characterLimit }} {{ postalCode.value.length }}/{{ postalCodeMaxLength }}</span>
              </div>
              <div class="col-2 mx-auto">
                <mat-form-field class="address-data">
                  <input matInput #townName type="text" placeholder="{{ notifications.completeTheOrderComponent.townName }}" formControlName="townName" [maxLength]="townNameMaxLength" required>
                </mat-form-field>
                <span *ngIf="townName.value.length > 0" class="float-right character-counter">{{ notifications.characterCounter.characterLimit }} {{ townName.value.length }}/{{ townNameMaxLength }}</span>
              </div>
              <div class="col-4"></div>
            </div>
            <div class="row">
              <div class="col-4 mx-auto">
                <mat-form-field class="address-data">
                  <mat-label>{{ notifications.completeTheOrderComponent.country }}</mat-label>
                  <mat-select formControlName="country" required>
                    <mat-option *ngFor="let country of countries" [value]="country.code">{{ country.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row center-content">
              <span class="col-4 mx-auto warning">
                {{ notifications.completeTheOrderComponent.supplyAddressWarning }}
              </span>
            </div>
            <div *ngIf="deliveryAddressError.length > 0"><span class="error">{{ deliveryAddressError }}</span></div>
          </div>
        </div>
        <div class="row center-content">
          <div class="col-12">
            <button mat-raised-button color="primary" type="button" class="next-stepper-btn" matStepperNext (click)="validateDeliveryAddress()">{{ notifications.completeTheOrderComponent.goFurther }}</button>
          </div>
        </div>
      </mat-step>

      <mat-step [stepControl]="paymentFormGroup.value.paymentType === PaymentType.DEFER ? paymentFormGroup && financialDataFormGroup : paymentFormGroup" label="{{ notifications.completeTheOrderComponent.paymentStep }}">
        <div [formGroup]="paymentFormGroup" class="center-content" required>
          <span class="headline">{{ notifications.completeTheOrderComponent.paymentType }}</span>
          <mat-radio-group color="primary" formControlName="paymentType" (change)="validatePaymentType()" required>
            <mat-radio-button [value]="PaymentType.TRANSFER">{{ notifications.completeTheOrderComponent.bankTransferPayment }}</mat-radio-button>
            <mat-radio-button [value]="PaymentType.RECEIPT" class="checkbox-type-label">{{ notifications.completeTheOrderComponent.uponDeliveryPayment }}</mat-radio-button>
            <mat-radio-button [value]="PaymentType.DEFER" class="checkbox-type-label">{{ notifications.completeTheOrderComponent.deferredPayment }}</mat-radio-button>
          </mat-radio-group>
          <div *ngIf="paymentTypeError.length > 0"><span class="error">{{ paymentTypeError }}</span></div>
        </div>
        <div *ngIf="paymentFormGroup.value.paymentType === PaymentType.TRANSFER" class="center-content">
          <span>{{ notifications.completeTheOrderComponent.transferDataViaMail }}</span>
        </div>
        <div *ngIf="paymentFormGroup.value.paymentType === PaymentType.DEFER">
          <div class="row">
            <div class="col-12">
              <span class="defer-payment-description">{{ notifications.completeTheOrderComponent.deferPaymentDescription }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-6 mx-auto">
              <span>{{ notifications.completeTheOrderComponent.numberOfInstallments }} {{ numberOfInstallments }}</span>
              <mat-slider style="min-width: 70%;"
                color="primary"
                [min]="1"
                [max]="24"
                [step]="1"
                [tickInterval]="1"
                [thumbLabel]="true"
                [(ngModel)]="numberOfInstallments">
              </mat-slider>
              <mat-icon matSuffix color="primary" matTooltip="{{ notifications.completeTheOrderComponent.paymentTooltip }}" [matTooltipPosition]="'above'" style="cursor: pointer">info</mat-icon>
              <p *ngIf="numberOfInstallments > 0">{{ notifications.completeTheOrderComponent.instalmentAmount }} {{ shoppingCartPrice/numberOfInstallments | number: '1.2-2' }}zł</p>
            </div>
          </div>
          <div class="center-content">
            <div style="margin-top: 10px;">
              <span>{{ notifications.completeTheOrderComponent.financialReportDescription1 }} {{ lastYear }} {{ notifications.completeTheOrderComponent.financialReportDescription2 }}</span>
            </div>
            <div [formGroup]="financialDataFormGroup" class="defer-payment-form">
              <div class="row">
                <div class="col-6 mx-auto">
                  <div class="row">
                    <div class="col-6">
                      <mat-form-field class="data-label">
                        <input matInput placeholder="{{ notifications.completeTheOrderComponent.totalAssets }}" formControlName="totalAssets" appNumbersOnly required>
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field class="data-label">
                        <input matInput placeholder="{{ notifications.completeTheOrderComponent.salesRevenue }}" formControlName="salesRevenue" appNumbersOnly required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 mx-auto">
                  <div class="row">
                    <div class="col-6">
                      <mat-form-field class="data-label">
                        <input matInput placeholder="{{ notifications.completeTheOrderComponent.equityCapital }}" formControlName="equityCapital" appNumbersOnly required>
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field class="data-label">
                        <input matInput placeholder="{{ notifications.completeTheOrderComponent.foreignCapital }}" formControlName="foreignCapital" appNumbersOnly required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 mx-auto">
                  <div class="row">
                    <div class="col-12">
                      <mat-form-field class="data-label">
                        <input matInput placeholder="{{ notifications.completeTheOrderComponent.netProfit }}" formControlName="netProfit" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row center-content">
              <span class="col-6 mx-auto warning">
                {{ notifications.completeTheOrderComponent.deferPaymentWarning }}<br>
                {{ notifications.completeTheOrderComponent.deferPaymentWarning1 }}<br>
                {{ notifications.completeTheOrderComponent.deferPaymentWarning2 }}
              </span>
            </div>
            <div *ngIf="financialDataError.length > 0"><span class="error">{{ financialDataError }}</span></div>
          </div>
        </div>
        <div class="row center-content">
          <div class="col-12">
            <button mat-raised-button color="primary" type="button" class="next-stepper-btn" matStepperNext (click)="validatePaymentFinancialData()">{{ notifications.completeTheOrderComponent.goFurther }}</button>
          </div>
        </div>
      </mat-step>

      <mat-step label="{{ notifications.completeTheOrderComponent.orderSummaryStep }}">
        <div class="row center-content">
          <span class="headline">{{ notifications.completeTheOrderComponent.orderDetails }}</span>
        </div>
        <div *ngFor="let product of productList" class="row">
          <div class="col-6 mx-auto border">
            <div class="row">
              <div class="col-4 remove-padding">
                <img [src]="product.image" class="product-image">
              </div>
              <div class="col-8 col-padding-top">
                <p class="product-name">{{ product.name }}</p>
                <p>{{ this.notifications.completeTheOrderComponent.quantity }} {{ product.quantity }}</p>
                <p>{{ this.notifications.completeTheOrderComponent.totalPrice }} {{ product.totalPrice }} zł</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3 mx-auto border">
            <div class="row">
              <div class="col-8 col-padding-top">
                <p>{{ this.notifications.completeTheOrderComponent.orderValue }}</p>
                <p>{{ this.notifications.completeTheOrderComponent.shippingCost }}</p>
                <p class="final-price">{{ this.notifications.completeTheOrderComponent.sum }}</p>
              </div>
              <div class="col-4 col-padding-top">
                <p>{{ orderPrice }} zł</p>
                <p>{{ deliveryCost }} zł</p>
                <p class="final-price">{{ orderPrice + deliveryCost }} zł</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 mx-auto">
            <mat-form-field class="order-notes">
              <mat-label>{{ notifications.completeTheOrderComponent.orderNotesLabel }}</mat-label>
              <textarea #notesToOrder cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="6" [maxLength]="notesToOrderMaxLength" [(ngModel)]="orderComments" matInput></textarea>
            </mat-form-field>
            <span *ngIf="notesToOrder.value.length > 0" class="float-right character-counter">{{ notifications.characterCounter.characterLimit }} {{ notesToOrder.value.length }}/{{ notesToOrderMaxLength }}</span>
          </div>
        </div>
        <div class="row center-content">
          <button mat-raised-button color="primary" type="button" (click)="submitOrder()">{{ notifications.completeTheOrderComponent.submitOrder }}<mat-icon matSuffix class="shipping-icon">local_shipping</mat-icon></button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>
  </mat-card>
</div>
