@import '../../../styles/input-autofill.scss';
@import '../../../styles//character-counter.scss';

.background-page {
  height: 100vh;
  background-image: linear-gradient(320deg, #0d2046, 55%, #011438 55%);
  overflow: auto;
}

.card-panel {
  width: 80%;
  left: 10%;
  top: 10%;
  margin-bottom: 5%;
}

.mat-card-title {
  text-align: center;
}

.mat-card-subtitle {
  color: black;
  font-size: 24px;
  text-align: center;
}

.logo {
  display: grid;
  justify-content: center;
}

.language-panel {
  width: fit-content;
  float: right;
  outline: none;
}

.router-link {
  color: inherit;
  margin-right: 1%;
  display: inline-block;
}

.main-menu-icon {
  vertical-align: bottom;
}

.main-menu {
  text-align: center;
}

.back-btn {
  padding-left: 5px;
}

.order-notes {
  width: 50%;
}

.center-content {
  text-align: center;
  justify-content: center;
}

.shipping-icon {
  padding-left: 5px;
}

.headline {
  font-size: 24px;
  display: block;
}

.delivery-type {
  display: block;
}

.next-stepper-btn {
  margin-top: 10px;
}

.error {
  color: red;
}

.address-data {
  width: 100%;
}

#mat-radio-3 {
  margin-left: 10px;
}

.user-data-label {
  width: 100%;
}

.user-data-label-space {
  margin-right: 20px;
}

.user-data-form {
  margin-top: 20px;
  margin-bottom: 20px;
}
