<div class="dialog">

  <div class="dialog-header">
    <h4 class="dialog-title">{{ title }}</h4>
    <button type="button" class="close" mat-dialog-close>
      <span>&times;</span>
    </button>
  </div>

  <div class="dialog-content">
    <form [formGroup]="addEmployeeForm">

      <div class="row">
        <div class="col-6">
          <mat-form-field class="data-label">
            <input matInput #employeeName type="text" placeholder="Imię" [maxLength]="employeeNameMaxLength" formControlName="name" appSentenceCaseType required>
          </mat-form-field>
          <span *ngIf="employeeName.value.length > 0" class="float-right character-counter">Limit znaków: {{ employeeName.value.length }}/{{ employeeNameMaxLength }}</span>
        </div>
        <div class="col-6">
          <mat-form-field class="data-label">
            <input matInput #employeeSurname type="text" placeholder="Nazwisko" [maxLength]="employeeSurnameMaxLength" formControlName="surname" appSentenceCaseType required>
          </mat-form-field>
          <span *ngIf="employeeSurname.value.length > 0" class="float-right character-counter">Limit znaków: {{ employeeSurname.value.length }}/{{ employeeSurnameMaxLength }}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <mat-form-field class="data-label">
            <input matInput #password type="password" placeholder="Hasło" minlength="8" [maxLength]="passwordMaxLength" formControlName="password" required>
          </mat-form-field>
          <span *ngIf="password.value.length > 0" class="float-right character-counter">Limit znaków: {{ password.value.length }}/{{ passwordMaxLength }}</span>
        </div>
        <div class="col-6">
          <mat-form-field class="data-label">
            <input matInput #repeatPassword type="password" placeholder="Potwórz hasło" minlength="8" [maxLength]="passwordMaxLength" formControlName="repeatPassword" required>
          </mat-form-field>
          <span *ngIf="repeatPassword.value.length > 0" class="float-right character-counter">Limit znaków: {{ repeatPassword.value.length }}/{{ passwordMaxLength }}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <mat-form-field class="data-label">
            <input matInput #email type="text" placeholder="E-mail" [maxLength]="emailMaxLength" formControlName="email" required>
          </mat-form-field>
          <span *ngIf="email.value.length > 0" class="float-right character-counter">Limit znaków: {{ email.value.length }}/{{ emailMaxLength }}</span>
        </div>
        <div class="col-6">
          <mat-form-field class="data-label">
            <mat-label>Typ zatrudnienia</mat-label>
            <mat-select formControlName="workType" required>
              <mat-option *ngFor="let workType of workTypes" [value]=" !isEdit ? workType.value : workType.viewValue">{{ workType.viewValue }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row error-label-row" *ngIf="addEmployeeErrors.length > 0">
        <span class="error-label" *ngFor="let err of addEmployeeErrors">{{ err }}</span>
      </div>

    </form>
  </div>

  <div class="dialog-actions">
    <button type="button" class="btn-cancel" mat-raised-button color="basic" mat-dialog-close>Anuluj</button>
    <button type="button" class="btn-accept" mat-raised-button color="primary" (click)="addEmployee()">{{ isEdit ? 'Zatwierdź zmiany' : 'Dodaj pracownika' }}</button>
  </div>
</div>

