.logo {
  display: grid;
  justify-content: center;
}

.main-menu {
  text-align: center;
}

.main-menu-icon {
  vertical-align: bottom;
}

.router-link {
  color: inherit;
  margin-right: 1%;
  display: inline-block;
}

.language-panel {
  width: fit-content;
  float: right;
  outline: none;
}

.back-btn {
  padding-left: 5px;
}

.mat-card-title {
  text-align: center;
}

.mat-card-subtitle {
  color: black;
  font-size: 24px;
}

.subtitle {
  color: black;
  font-size: 24px;
  margin-top: -5px;
  margin-bottom: 16px;
  justify-content: center;
}
