@import '../../../styles/header-card.scss';

.register-form {
  margin-top: 10px;
}

.center {
  padding: 0px 16px 0px 16px;
  justify-content: center;
}

.name-form {
  width: 45%;
}

.surname-form {
  width: 45%;
  margin-left: 10%;
}

.email-form {
  width: 45%;
}

.register-btn {
  float: right;
}

.data-label {
  width: 100%;
}

.main-page-btn {
  float:  right;
}

.btns-label {
  margin-top: 20px;
}

.error-label {
  width: 100%;
  padding: 0px 16px 0px 16px;
  color: red;
}

.error-label-row {
  margin-bottom: 15px;
}

#footer-label {
  margin-top: 10px;
}

#return-to-login {
  margin-left: 5px;
}
