<div class="background-page">
  <mat-card class="card-panel">
    <app-navigation-bar
    [isBackBtnAvailable]="true"
    [isAccountCreated]="isAccountCreated"
    (emitNotifications)="getNotifications($event)">
    </app-navigation-bar>
    <mat-card-content *ngIf="!isAccountCreated">
      <div class="row center register-description">
        <span>{{ notifications.registerComponent.description }}</span>
      </div>
      <form [formGroup]="registerForm" class="register-form">
        <div class="row">
          <div class="col-6">
            <mat-form-field class="data-label">
              <input matInput #clientName type="text" placeholder="{{ notifications.registerComponent.nameLabel }}" [maxLength]="clientNameMaxLength" formControlName="name" appSentenceCaseType required>
            </mat-form-field>
            <span *ngIf="clientName.value.length > 0" class="float-right character-counter">{{ notifications.characterCounter.characterLimit }} {{ clientName.value.length }}/{{ clientNameMaxLength }}</span>
          </div>
          <div class="col-6">
            <mat-form-field class="data-label">
              <input matInput #clientSurname type="text" placeholder="{{ notifications.registerComponent.surnameLabel }}" [maxLength]="clientSurnameMaxLength" formControlName="surname" appSentenceCaseType required>
            </mat-form-field>
            <span *ngIf="clientSurname.value.length > 0" class="float-right character-counter">{{ notifications.characterCounter.characterLimit }} {{ clientSurname.value.length }}/{{ clientSurnameMaxLength }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field class="data-label">
              <input matInput #clientPassword type="password" placeholder="{{ notifications.registerComponent.passwordLabel }}" minlength="8" [maxLength]="clientPasswordMaxLength" formControlName="password" required>
            </mat-form-field>
            <span *ngIf="clientPassword.value.length > 0" class="float-right character-counter">{{ notifications.characterCounter.characterLimit }} {{ clientPassword.value.length }}/{{ clientPasswordMaxLength }}</span>
          </div>
          <div class="col-6">
            <mat-form-field class="data-label">
              <input matInput #clientRepeatPassword type="password" placeholder="{{ notifications.registerComponent.repeatPasswordLabel }}" minlength="8" [maxLength]="clientPasswordMaxLength" formControlName="repeatPassword" required>
            </mat-form-field>
            <span *ngIf="clientRepeatPassword.value.length > 0" class="float-right character-counter">{{ notifications.characterCounter.characterLimit }} {{ clientRepeatPassword.value.length }}/{{ clientPasswordMaxLength }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field class="data-label">
              <input matInput #clientEmail type="text" placeholder="{{ notifications.registerComponent.emailLabel }}" [maxLength]="clientEmailMaxLength" formControlName="email" required>
            </mat-form-field>
            <span *ngIf="clientEmail.value.length > 0" class="float-right character-counter">{{ notifications.characterCounter.characterLimit }} {{ clientEmail.value.length }}/{{ clientEmailMaxLength }}</span>
          </div>
          <div class="col-6">
            <mat-form-field class="data-label">
              <input matInput #companyName type="text" placeholder="{{ notifications.registerComponent.companyLabel }}" [maxLength]="companyNameMaxLength" formControlName="companyName" required>
            </mat-form-field>
            <span *ngIf="companyName.value.length > 0" class="float-right character-counter">{{ notifications.characterCounter.characterLimit }} {{ companyName.value.length }}/{{ companyNameMaxLength }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field class="data-label">
              <input matInput #regon type="text" placeholder="{{ notifications.registerComponent.regonLabel }}" [maxLength]="regonMaxLength" formControlName="regon" appNumbersOnly>
            </mat-form-field>
            <span *ngIf="regon.value.length > 0" class="float-right character-counter">{{ notifications.characterCounter.characterLimit }} {{ regon.value.length }}/{{ regonMaxLength }}</span>
          </div>
          <div class="col-6">
            <mat-form-field class="data-label">
              <input matInput #krs type="text" placeholder="{{ notifications.registerComponent.krsLabel }}" [maxLength]="krsMaxLength" formControlName="krs" appNumbersOnly>
            </mat-form-field>
            <span *ngIf="krs.value.length > 0" class="float-right character-counter">{{ notifications.characterCounter.characterLimit }} {{ krs.value.length }}/{{ krsMaxLength }}</span>
          </div>
        </div>
        <div class="row error-label-row" *ngIf="registerErrors.length > 0">
          <span class="error-label" *ngFor="let err of registerErrors">{{ err }}</span>
        </div>
        <div class="row center" style="margin-top: 15px;">
          <button class="register-btn" mat-raised-button color="primary" (click)="registerUser()">{{ notifications.registerComponent.createAccount }}</button>
        </div>
      </form>
      <div class="row center">
        <span id="footer-label">{{ notifications.registerComponent.accountExists }}<a routerLink='/login' routerLinkActive="active" id="return-to-login">{{ notifications.registerComponent.loginLink }}</a></span>
      </div>
    </mat-card-content>
    <mat-card-content *ngIf="isAccountCreated">
      <div class="row center register-description">
        <span>{{ notifications.registerComponent.accountCreatedSuccessfully }}</span>
      </div>
      <div class="row btns-label">
        <div class="col-6">
          <button class="main-page-btn" mat-raised-button color="primary" [routerLink]="['']">{{ notifications.registerComponent.mainPageBtn }}</button>
        </div>
        <div class="col-6">
          <button class="login-btn" mat-raised-button color="primary" [routerLink]="['/login']">{{ notifications.registerComponent.loginBtn }}</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
