<div class="dialog">
  <div class="dialog-header">
    <h4 class="dialog-title">Dodano do koszyka</h4>
    <button type="button" class="close" mat-dialog-close>
      <span>&times;</span>
    </button>
  </div>
  <div class="dialog-content">
    <span>Przedmiot {{ productName }} został dodany do koszyka.</span>
  </div>
  <div class="dialog-actions">
    <button type="button" color="basic" class="navigate-to-cart-btn" (click)="goToShoppingCart()" mat-raised-button>Przejdź do koszyka</button>
    <button type="button" color="primary" mat-raised-button mat-dialog-close>Kontynuuj zakupy</button>
  </div>
</div>
