<div class="dialog">
  <div class="dialog-header">
    <h4 class="dialog-title">Dodano do koszyka</h4>
    <button type="button" class="close" mat-dialog-close>
      <span>&times;</span>
    </button>
  </div>
  <div class="dialog-content">
    <div class="row">
      <div class="col-2">
        <img [src]="productImage" class="product-image">
      </div>
      <div class="col-10">
        <span class="product-name">{{ productName }}</span>
        <span class="product-quantity">Ilość: {{ productQuantity }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span>Przedmiot został dodany do koszyka.</span>
      </div>
    </div>
  </div>
  <div class="dialog-actions">
    <button type="button" color="basic" class="navigate-to-cart-btn" (click)="goToShoppingCart()" mat-raised-button>Przejdź do koszyka</button>
    <button type="button" color="primary" mat-raised-button mat-dialog-close>Kontynuuj zakupy</button>
  </div>
</div>
