<div class="background-page">
  <mat-card class="card-panel">
    <app-navigation-bar
      [isBackBtnAvailable]="true"
      (emitNotifications)="getNotifications($event)">
    </app-navigation-bar>
    <mat-card-content>
      <form>
        <div class="row center-label">
          <span>{{ notifications.remindPasswordComponent.remindPasswordDescription }}</span>
          <mat-form-field id="email">
            <input matInput type="text" placeholder="E-mail">
            <mat-icon matSuffix>mail_outline</mat-icon>
          </mat-form-field>
        </div>
        <div class="row center-label">
          <button mat-raised-button color="primary">{{ notifications.remindPasswordComponent.resetPassword }}</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
