<div class="background-page">
  <mat-card class="card-panel">

    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <mat-card-header class="logo">
          <mat-card-title>
            <a routerLink="/"><img src="../../../assets/imgs/logo-ws.png" width="50px" height="50px"></a>
          </mat-card-title>
          <mat-card-subtitle>Przypomnij hasło</mat-card-subtitle>
        </mat-card-header>
      </div>
      <div class="col-2">
        <select class="language-panel">
          <option value="PL">PL</option>
          <option value="ENG">ENG</option>
        </select>
      </div>
    </div>

    <mat-card-content>
      <form>
        <div class="row center-label">
          <span>Podaj adres e-mail użyty podczas zakładania konta, a wyślemy Ci wiadomość jak zresetować hasło.</span>
          <mat-form-field id="email">
            <input matInput type="text" placeholder="E-mail">
            <mat-icon matSuffix>mail_outline</mat-icon>
          </mat-form-field>
        </div>
        <div class="row center-label">
          <button class="" mat-raised-button color="primary">Zresetuj hasło</button>
        </div>

      </form>
    </mat-card-content>

  </mat-card>
</div>
