<div class="background-page" (scroll)="onScroll($event)">
  <div id="topOfTheScreen"></div>
  <mat-card class="card-panel">
    <app-navigation-bar
      [isLoginLinkAvailable]="true"
      [isLogoutLinkAvailable]="true"
      [isRegisterLinkAvailable]="true"
      [isShoppingCartLinkAvailable]="true"
      (emitNotifications)="getNotifications($event)">
    </app-navigation-bar>
    <mat-card-content *ngIf="!isLoading">
      <div *ngIf="productList.length > 0" class="row">
        <div class="col-12" style="text-align: center;">
          <span class="products-label">{{ notifications.mainPageComponent.wholesaleOffer }}</span>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let product of productList" class="col-md-3">
          <a [routerLink]="['product-item', product._id]" routerLinkActive="true" class="router-product">
            <div class="card mb-3 box-shadow selected">
              <img [src]="product.productImage" class="router-product image-product" [alt]="product.name"/>
              <div class="card-body">
                <p class="card-product-name">{{ product.name }}</p>
                <p class="card-product-price float-right">{{ product.price }} zł</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div *ngIf="productList.length === 0">
        <div class="row shopping-bag-icon-row">
          <div class="col-12 center">
            <mat-icon class="shopping-bag-icon">shopping_bag</mat-icon>
          </div>
        </div>
        <div class="row">
          <div class="col-12 center">
            <p class="empty-product-list">{{ notifications.mainPageComponent.emptyProductList }}</p>
          </div>
        </div>
      </div>
    </mat-card-content>
    <div *ngIf="isLoading" class="row loading-spinner">
      <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>
  </mat-card>
  <button *ngIf="isScrollBtnAvailable" id="scrollToUpBtn" (click)="scrollToTop()">
    <mat-icon id="arrowUpIcon">arrow_upward</mat-icon>
  </button>
</div>
