.background-page {
  height: 100vh;
  background-image: linear-gradient(320deg, #0d2046, 55%, #011438 55%);
  overflow: auto;
}

.card-panel {
  width: 80%;
  left: 10%;
  top: 10%;
  margin-bottom: 5%;
}

.logo {
  display: grid;
  justify-content: center;
}

.language-panel {
  width: fit-content;
  float: right;
  outline: none;
}

.mat-card-title {
  text-align: center;
}

.mat-card-subtitle {
  color: black;
  font-size: 24px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
}

.space-line {
  margin-top: 20px;
}

.products-label {
  font-size: 30px;
}

.product-name {
  display: block;
}

.col-3 {
  word-wrap: break-word;
}

.main-menu-icon {
  vertical-align: bottom;
}

.router-link {
  color: inherit;
  margin-right: 1%;
  display: inline-block;
}

.router-product {
  color: inherit;
}

.router-product:hover {
  text-decoration: none;
}

.selected:hover {
  opacity: 0.7;
}

.card-body {
  padding-bottom: 0px;
}

.card-product-price {
  font-weight: bold;
}

#scrollToUpBtn {
  position: fixed;
  background-color: white;
  width: 48px;
  height: 48px;
  right: 2%;
  bottom: 2%;
  border-radius: 50%;
  border: none;
  outline: none
}

#scrollToUpBtn:active {
  background-color: #dedeeb;
}

#arrowUpIcon {
  vertical-align: middle;
}

.shopping-bag-icon-row {
  margin-top: 40px;
  height: 80px;
}

.center {
  text-align: center;
}

.shopping-bag-icon {
  transform: scale(3.5);
}

.empty-product-list {
  font-weight: 200;
  font-size: 34px;
}
