@import '../../../styles/data-table.scss';

.mat-column-position {
  width: 10%;
}

.mat-column-name {
  width: 20%;
}

.mat-column-image {
  width: 10%;
}

.mat-column-descritpion {
  width: 20%;
}

.mat-column-price {
  width: 5%;
}

.mat-column-producer {
  width: 10%;
}

.mat-column-createdDate {
  width: 5%;
}

.mat-column-edit {
  width: 10%;
}

.mat-column-delete {
  width: 10%;
}

.image-data {
  width: 80px;
  height: 80px;
  padding: 5px 0px 5px 0px;
}
